version: "3.9"

services:
  backend:
    build:
      context: ./api
    container_name: report_backend
    ports:
      - "8000:8000"
    env_file:
      - ./api/.env
    depends_on:
      - mongodb
    volumes:
      - ./uploads:/app/uploads
    restart: always

  mongodb:
    image: mongo:6
    container_name: report_mongodb
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
