version: "3.9"

services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  backend:
    build:
      context: ./api
    container_name: fastapi
    ports:
      - "8000:8000"
    env_file:
      - ./api/.env
    depends_on:
      - mongodb
    networks:
      - app-network

  frontend:
    build:
      context: ./web_app
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo_data: